static_marimo/
static_marimo_test/
embedding.py
__marimo__/
test.py
multirun/
RCfold/

*__pycache__/
*.DS_Store
*simplefold.egg-info
artifacts/
sbatch/
outputs/
.vscode/
lightning_logs/
fit-perf_logs*
/wandb/