# to run on lighting studio, run with `python -m src.esm.train data=patrick wandb=patrick`
defaults:
  - data: eric
  - experiment: alpha_amylase
  - wandb: eric
  - _self_

train: True
work_dir: ${hydra:runtime.cwd}
hydra:
  job:
    name: expression_MLP
  run:
    dir: ${work_dir}/sbatch/hydra_logs/${hydra.job.name}/${now:%Y-%m-%d_%H-%M-%S}

job_name: ${hydra:job.name}_${experiment.protein_dir_name}_${data.label}
profiler: 
  init: False
  dir: ${work_dir}/sbatch/lightning_logs
  filename: ${job_name}

trainer:
# lightning logs (check points) in sbatch directory=
  default_root_dir: ${work_dir}/sbatch/lightning_logs
  max_epoch: 250

## no relative imports in the config
model:
  _target_: src.esm.model.RCfold.PL_ESM_Regressor
  # input_dim specified in experiment/[protein].yaml
  input_dim: ???

